#logo-pari{
    margin-left: 0rem;
}

.nav-right{
    position: absolute;
    right: 0rem;
    top:2rem;
}

.navv{
    margin-top: .5rem;
}

.typeAnim{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  