.fl-box{
    display: flexbox;
}

.center-box{
    position: relative;
    margin: auto;
    background-color: rgba(84, 169, 222, 0.715);
    border-radius: 5%;
    width: auto;
    margin: 0px 30px;
}